<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Force based label placement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/underscore.js"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<!--    <style type="text/css">
      iframe {
        width: 900, height: 600;
      }
    </style>
-->
  </head>

  <body>
    <ul class="nav nav-tabs" id="topTabs">
      <li><a href="#Map" data-toggle="tab">Map</a></li>
      <li class="active"><a href="#Search" data-toggle="tab">Search</a></li>
    </ul>

    <div class="tab-content" id="topTabsContent">
      <div class="tab-pane" id="Map">
      </div>
      <div class="tab-pane active" id="Search">
        <iframe id="gps" src="/advanced_patent_search" width="1050" height="700" scrolling="no" allowfullscreen="true" sandbox="allow-same-origin allow-top-navigation allow-forms allow-scripts">
	</iframe>
      </div>
    </div>

    <script type="text/javascript">

      $(document).ready(setupInitialTabs);

      function setupInitialTabs() {
        $("head").append($("script#search-term-popover-style").html());                 // append the style for the popover html content
        var aTab = $("a[data-toggle='tab']");
        aTab.on('shown.bs.tab', function(event) {
          var previousTab = event.relatedTarget;
//          $(previousTab).popover('enable');
        });
      }

    </script>

	  <script type="text/javascript">

	    $("iframe#gps").load(function() {
	      var nSearchResultTabs = 0, nPatentTabs = 0, nRelatedTabs = 0;
	      var $gps_contents = $(this).contents();
	      $("a[href='http://www.google.com/'] > img", $gps_contents).unwrap();    // delete link associated with the Google logo
	      $("a[href='/about.html']", $gps_contents).remove();                     // delete the 'About Google' link
	      $("center:contains('\u00A9')", $gps_contents).remove();                 // delete the Google copyright notice
	      $("form[action='/patents']", $gps_contents).on("submit", on_submit_form);  // intercept the form submit request...

  	      var external_URLs = ['worldwide.espacenet.com',
	                           'register.epo.org',
	                           'uspto.gov',
	                           'wipo.int',
	                           'scholar.google.com',
	                           'docs.google.com'];

              var rExp_patno_from_url = /\/(?:patents|related)\/(\w+)(?:[\?#%&]|$)/;                        // match / patent num ?,# or end of url string

	      var formFields = {
	        "as_q" : "All of: ",
	        "as_epq" : "Exactly: ",
	        "as_oq" : "At least one: ",
	        "as_eq" : "None of: ",
	        "as_pnum" : "Patent: ",
	        "as_vt" : "Title: ",
	        "as_pinvent" : "Inventor: ",
	        "as_pasgnee" : "Assignee: ",
	        "as_pusc" : "US class: ",
	        "as_pintlc" : "Int'l class: ",
	        "as_pcoopc" : "Coop class: ",
	        "as_ptypeorstatus" : "Type: ",
	        "as_drrb_is" : "ChkBoxPatDateOptions",    // value 'q' anytime; value 'b' between dates
	        "as_minm_is" : "MinMonth",
	        "as_miny_is" : "MinYear",
	        "as_maxm_is" : "MaxMonth",
	        "as_maxy_is" : "MaxYear",
	        "as_pdatetype" : "Restrict by"          // value '1' application date; value '2' issue date
	      };

	      var typeValues = {
	        "0" : "Any", "1" : "Application", "2" : "Issued", "3" : "Utility", "4" : "Design", "5" : "Plant",
	          "6" : "Other", "7" : "Other", "8" : "Other"
	      };

	      var restrictByValues = {
	        "1" : "Appl. date", "2" : "Issue date"
	      };

	      var monthValues = {
	        "0" : "", "1" : "Jan ", "2" : "Feb ", "3" : "Mar ", "4" : "Apr ", "5" : "May ", "6" : "Jun ",
	           "7" : "Jul ", "8" : "Aug ", "9" : "Sep ", "10" : "Oct ", "11" : "Nov ", "12" : "Dec "
	      };

	      function TableTemplateVars() {
	        return {
	        "t1" : "", "v1" : "",
	        "t2" : "", "v2" : "",
	        "t3" : "", "v3" : "",
	        "t4" : "", "v4" : "",
	        "t5" : "", "v5" : "",
	        "t6" : "", "v6" : "",
	        "t7" : "", "v7" : "",
	        "t8" : "", "v8" : "",
	        "t9" : "", "v9" : "",
	        "t10" : "", "v10" : "",
	        "t11" : "", "v11" : "",
	        "t12" : "", "v12" : "",
	        "t13" : "", "v13" : "",
	        "t14" : "", "v14" : "",
	        "t15" : "", "v15" : "",
	        "t16" : "", "v16" : ""};
	      }

	      function on_submit_form(event) {
                event.preventDefault();
	        var searchTerms = $(this).serializeArray();                           // an array of objects {name: input field name, value: input field value}
	        var url = $(this).attr('action');
	        var formData = $(this).serialize();                                   // get the form query data
//	          $.get(url, formData, function(resp) {                               // do a GET request to do the search
	        make_search_result_tab(url + '?' + formData, '', searchTerms);
	      }

	      function createHTMLSummaryTable(scriptName, searchTerms) {
	       // populates the html template defined in scriptName with a table of searchTerms
	        var tableTemplateVars = TableTemplateVars();
	        var dateInfo = {};
	        var inputName = '', entryName = '', entryValue = '';
	        var maxChar = 25;
	        var tableEntry = 0;
	        searchTerms.forEach( function(inputField) {
	          inputName = inputField["name"];
	          if (formFields[inputName]) {                                        // there are some input fields we have not defined in formFields
	            entryName = formFields[inputName];
                    entryValue = inputField["value"];
	            switch (entryName) {
	              case "All of: ": case "Exactly: ": case "At least one: ": case "None of: ": case "Patent: ": case "Title: ": case "Inventor: ": case "Assignee: ":
	                 case "US class: ": case "Intl class: ": case "Coop class: ":
                        if (entryValue != "") {
	                  tableEntry += 1;
	                  tableTemplateVars["t"+tableEntry] = entryName;
	                  tableTemplateVars["v"+tableEntry] = entryValue;           // no need to truncate long strings; CSS of the class .vcell takes care of it!
                        }
			break;
		      case "Type: ": case "ChkBoxPatDateOptions": case "MinMonth": case "MinYear": case "MaxMonth": case "MaxYear": case "Restrict by":
		        dateInfo[entryName] = entryValue;                             // need to store these values and process them separately
		        break;
		    }
	          };
		});

		tableEntry = 4*Math.ceil(tableEntry/4);                            // round to nearest multiple of 4
                tableEntry += 1;
                tableTemplateVars["t"+tableEntry] = "Type: ";                      // put in the last column in the table
                tableTemplateVars["v"+tableEntry] = typeValues[dateInfo["Type: "]];
		if (dateInfo["ChkBoxPatDateOptions"] == 'q') {                      // no restriction on date
                    tableEntry += 1;
                    tableTemplateVars["t"+tableEntry] = "Date: ";
                    tableTemplateVars["v"+tableEntry] = "Any";
		  }
		  else {                                                                // process the date restrictions
                    tableEntry += 1;
                    tableTemplateVars["t"+tableEntry] = "Begin date: ";
		    if (dateInfo["MinYear"] == "") {
                      tableTemplateVars["v"+tableEntry] = "Any";
                    }
                    else {
                      tableTemplateVars["v"+tableEntry] = monthValues[dateInfo["MinMonth"]] + dateInfo["MinYear"];
                    }
                    tableEntry += 1;
                    tableTemplateVars["t"+tableEntry] = "End date: ";
                    if (dateInfo["MaxYear"] == "") {
                      tableTemplateVars["v"+tableEntry] = "Any";
		    }
                    else {
                      tableTemplateVars["v"+tableEntry] = monthValues[dateInfo["MaxMonth"]] + dateInfo["MaxYear"];
                    }
                    tableEntry += 1;
                    tableTemplateVars["t"+tableEntry] = "Restrict by: ";
                    tableTemplateVars["v"+tableEntry] = restrictByValues[dateInfo["Restrict by"]];
		};

	        return _.template( $(scriptName).html(), tableTemplateVars);
	      }

	      function make_related_tab(related_url) {
	        nRelatedTabs += 1;
	        var link_match = rExp_patno_from_url.exec(unescape(related_url));        // javascript unescape() function to remove %2F
	        var patent_no = link_match ? link_match[1] : '';
	        var tab_name = 'Re-' + patent_no;
	        var tab_id = "relatedTab_" + nRelatedTabs;
	        var tab_content_id = "related_" + nRelatedTabs;
	        var iframe_id = "gps_related_" + nRelatedTabs;
	        var navTabHTML = _.template( $("script#bs_nav-tab").html(), {tab_id: tab_id, tab_content_id: tab_content_id, tab_name: tab_name});
	        var tabContentHTML = _.template( $("script#bs_tab-pane").html(),
                                       {tab_content_id: tab_content_id, iframe_id: iframe_id, iframe_width: 1220, iframe_height: 700});
	        $("div.tab-pane.active").after(tabContentHTML);
	        $("ul#topTabs li.active").after(navTabHTML);
	        var htmlSearchTermsTable = '', htmlPopoverTable = '';
//	        var htmlSearchTermsTable = createHTMLSummaryTable("script#search-term-table", searchTerms);   // table at the top of the search result page
//              var htmlPopoverTable = createHTMLSummaryTable("script#search-term-popover", searchTerms);     // table in the popover for the page
	        $("iframe#" + iframe_id).load(function() {on_related_load(this, tab_id, htmlSearchTermsTable, htmlPopoverTable);});
	        $("iframe#" + iframe_id).attr("src", related_url);
	        $("a#" + tab_id).tab("show");
	        window.scrollTo(0,0);
	      }

	      function make_search_result_tab(search_url, tab_title, searchTerms) {
	        nSearchResultTabs += 1;
	        var tab_name = (tab_title == '') ? 'S-' + nSearchResultTabs.toString() : tab_title;
	        var tab_id = "searchTab_" + nSearchResultTabs;
	        var tab_content_id = "result_" + nSearchResultTabs;
	        var iframe_id = "gps_result_" + nSearchResultTabs;
	        var navTabHTML = _.template( $("script#bs_nav-tab").html(), {tab_id: tab_id, tab_content_id: tab_content_id, tab_name: tab_name});
	        var tabContentHTML = _.template( $("script#bs_tab-pane").html(),
                                       {tab_content_id: tab_content_id, iframe_id: iframe_id, iframe_width: 1050, iframe_height: 700});
	        $("div.tab-pane.active").after(tabContentHTML);
	        $("ul#topTabs li.active").after(navTabHTML);
	        var htmlSearchTermsTable = createHTMLSummaryTable("script#search-term-table", searchTerms);   // table at the top of the search result page
                var htmlPopoverTable = createHTMLSummaryTable("script#search-term-popover", searchTerms);     // table in the popover for the page
	        $("iframe#" + iframe_id).load(function() {on_search_result_load(this, tab_id, htmlSearchTermsTable, htmlPopoverTable);});
	        $("iframe#" + iframe_id).attr("src", search_url);
	        $("a#" + tab_id).tab("show");
	        window.scrollTo(0,0);
	      }

	      function setupSearchTab(tab_id, htmlPopoverTable) {
	        var aTab = $("a#" + tab_id);
	        aTab.popover( {placement: "bottom", trigger: "hover", html: true, content: htmlPopoverTable} );   // use trigger: "click" for debugging
	        var popoverObject = aTab.data('bs.popover');                                              // get reference to popover instance; the .tip() method
	        $(popoverObject.tip()).addClass('jdwsearch').children("div,h3").addClass('jdwsearch');    // returns the top div element of the popover so can add my own css
	        aTab.on('shown.bs.tab', function(event) {
	           var clickedTab = event.target;
	           var previousTab = event.relatedTarget;
                   $(clickedTab).popover('hide');              // was already hovering before the click; make it disappear
                   $(clickedTab).popover('disable');           // prevent it from popping up again
	           $(previousTab).popover('enable');
	          });
	      }

	      function make_patent_tab(patent_url) {
	        nPatentTabs += 1;
	        var link_match = rExp_patno_from_url.exec(unescape(patent_url));                          // the 'overview' links need to be unescaped
	        var patent_no = link_match ? link_match[1] : '';
	        var tab_id = "patTab_" + nPatentTabs;
	        var tab_content_id = "patent_" + nPatentTabs;
	        var iframe_id = "gps_patent_" + nPatentTabs;
	        var navTabHTML = _.template( $("script#bs_nav-tab").html(), {tab_id: tab_id, tab_content_id: tab_content_id, tab_name: patent_no});
	        var tabContentHTML = _.template( $("script#bs_tab-pane").html(),
	                               {tab_content_id: tab_content_id, iframe_id: iframe_id, iframe_width: 1050, iframe_height: 700});
	        $("div.tab-pane.active").after(tabContentHTML);
	        $("ul#topTabs li.active").after(navTabHTML);
	        $("iframe#" + iframe_id).load( function() {on_patent_load(this, tab_id);});
	        $("iframe#" + iframe_id).attr("src", patent_url);
	        $("a#" + tab_id).tab("show");
	        window.scrollTo(0,0);
	      }

	      function on_patent_load(iframeElement, tab_id) {
	        var $gps_patent_contents = $(iframeElement).contents();
	        $("div#pocs", $gps_patent_contents).remove();
	        process_links($gps_patent_contents);
	        process_patent_button_bar($gps_patent_contents);
	        var patent_no = $("ul#topTabs li.active",$gps_patent_contents).text();
	        $("a[href='/patents']", $gps_patent_contents).remove();        // Link to basic patent search
	        $("div#footer_table", $gps_patent_contents).remove();          // Links at the bottom of the page
		$("head", $gps_patent_contents).append($("script#search-term-table-style").html());    // append the style for the replacement page header
		$("div#gb", $gps_patent_contents).replaceWith($("script#page-header").html()); 
	        $("div.viewport-chrome-toolbar div:contains('Application')", $gps_patent_contents)
	                   .each( function(index) {$(this).on("click", {index: index}, on_click_Application);} );  // Application button(s)
	        $("div.viewport-chrome-toolbar div:contains('Grant')", $gps_patent_contents)
	                   .each( function(index) {$(this).on("click", {index: index}, on_click_Grant);} );        // Grant button
	        $("span.notice-section > a", $gps_patent_contents)             // Override default event handler assigned in process_links
	              .off("click", on_click_new_patent_url).on("click", on_click_AlsoPublishedAs);
	        $("td.patent-bibdata-heading:contains('Also published as') ~ td span.patent-bibdata-value > a", $gps_patent_contents)
	              .off("click", on_click_new_patent_url).on("click", on_click_AlsoPublishedAs);
	        setupPatentTab(tab_id, $gps_patent_contents);
	      }

	      function setupPatentTab(tab_id, $gps_patent_contents) {
	        var patentTitle = $("invention-title", $gps_patent_contents).text();
	        var patentInventors = '';
	        $("td.patent-bibdata-heading:contains('Inventors') + td span.patent-bibdata-value", $gps_patent_contents)
	               .each( function(index) {patentInventors += $(this).text().replace(/, /g, '<br/>');});                    //g = global
                var patentAssignee = $("td.patent-bibdata-heading:contains('Applicant') + td", $gps_patent_contents).text();
	        var htmlPopoverContent = _.template( $("script#patent-info-popover").html(), {inventors: patentInventors, assignee: patentAssignee} );
	        var aTab = $("a#" + tab_id);
	        aTab.popover( {placement: "bottom", trigger: "hover", html: true, title: patentTitle, content: htmlPopoverContent} );  // or "click" to debug
	        var popoverObject = aTab.data('bs.popover');                                              // get reference to popover instance; the .tip() method
	        $(popoverObject.tip()).addClass('jdwpatent').children("div,h3").addClass('jdwpatent');    // returns the top div element of the popover so can add my own css
	        aTab.on('shown.bs.tab', function(event) {
	           var clickedTab = event.target;
	           var previousTab = event.relatedTarget;
                   $(clickedTab).popover('hide');              // was already hovering before the click; make it disappear
                   $(clickedTab).popover('disable');           // prevent it from popping up again
	           $(previousTab).popover('enable');
	          });
	      }

	      function on_related_load(iframeElement, tab_id, htmlSearchTermsTable, htmlPopoverTable) {
	        var $gps_related_contents = $(iframeElement).contents();
		$("head", $gps_related_contents).append($("script#search-term-table-style").html());    // append the style for the replacement page header
	           // the main prior art patent list and parent patent info is loaded via javascript after the rest of the page loads; we need to detect
	           // when those parts are populated with content; a hack to do this is to attach an animation to the div.r elements via css
	           // see http://stackoverflow.com/questions/6997826/alternative-to-domnodeinserted
	        $("td.content-td",$gps_related_contents)
	                  .on('webkitAnimationStart', "div.r", function() {on_divr_added(this, $gps_related_contents);}); // Chrome animation event
	        $("td.content-td",$gps_related_contents)
	                  .on('animationstart', "div.r", function() {on_divr_added(this, $gps_related_contents);});       // Firefox animation event
	        $("td.metadata-td",$gps_related_contents)
	                  .on('webkitAnimationStart', "div.metadata", function() {on_divmeta_added(this, $gps_related_contents);}); // Chrome animation event
	        $("td.metadata-td",$gps_related_contents)
	                  .on('animationstart', "div.metadata", function() {on_divmeta_added(this, $gps_related_contents);});       // Firefox animation event
	        process_links($gps_related_contents);
 	        var patentsOnlyOption = $("div#left-toolbar-buttons div:contains('Patents')", $gps_related_contents).get(0);   // get underlying Element of Patents nav option
	        simulateClick(patentsOnlyOption, 'mousedown', patentsOnlyOption.ownerDocument.defaultView);                    // so can send mousedown, mouseup event
	        simulateClick(patentsOnlyOption, 'mouseup', patentsOnlyOption.ownerDocument.defaultView);
	        $("div#pocs", $gps_related_contents).remove();
	        $("div.kd-appbar", $gps_related_contents).remove();                   // Prior Art Finder options row
	        $("div#footer", $gps_related_contents).remove();
		$("div#gb", $gps_related_contents).replaceWith($("script#page-header").html());         // replace the google content with a greatly simplified version
//	        $("div#jdwTop", $gps_related_contents).append(htmlSearchTermsTable);  // append html for the search term table
//	        setupSearchTab(tab_id, htmlPopoverTable);        // set up the popover for the tab for this page
	      }

	      function on_divr_added(divr, $gps_related_contents) {
	        var divrContext = $(divr, $gps_related_contents);
	        process_links(divrContext);
	      }

	      function on_divmeta_added(divmeta, $gps_related_contents) {
	       var divmetaContext = $(divmeta, $gps_related_contents);
	       process_links(divmetaContext);
	       $("div#discuss-this-parent", $gps_related_contents).remove();                // the 'Discuss the patent' button ('patent' misspelled as 'parent' in the div id!
	      }

	      function simulateClick(element, eventType, contextWindow) {
	        // similate a mouse event 'type' on the 'element' in the 'contextWindow'
	        var event = new MouseEvent(eventType, {
	        'view': contextWindow,
	        'bubbles': true,
	        'cancelable': true
	        });
	        var canceled = !element.dispatchEvent(event);
	        if (canceled) {
	          // A handler called preventDefault.
	        }
	        else {
	          // None of the handlers called preventDefault.
	        }
	      }

	      function on_search_result_load(iframeElement, tab_id, htmlSearchTermsTable, htmlPopoverTable) {
	        var $gps_result_contents = $(iframeElement).contents();
	        process_links($gps_result_contents);
	        $("div#pocs", $gps_result_contents).remove();
	        $("div#main div#top_nav", $gps_result_contents).remove();
	        $("div#main div#topabar", $gps_result_contents).remove();
	        $("div#foot", $gps_result_contents).remove();
	              // contents() gets both text nodes and elements; remove the hyphen and the 'Discuss' link
	        $("div.osl", $gps_result_contents).each ( function() { $(this).contents().slice(-2).remove();} );
		$("head", $gps_result_contents).append($("script#search-term-table-style").html());    // append the style for the replacement page header
		$("div#mngb", $gps_result_contents).replaceWith($("script#page-header").html()); 
	        $("div#jdwTop", $gps_result_contents).append(htmlSearchTermsTable);  // append html for the search term table
	        setupSearchTab(tab_id, htmlPopoverTable);        // set up the popover for the tab for this page
	      }

	      function process_links($iframe_contents) {
	        $("a", $iframe_contents).each(function() {
	          var orig_url = $(this).attr("href");
	          if (orig_url) {
	            if (external_URLs.some( function(external_URL) {return orig_url.search(external_URL) >= 0 ? true : false;})) {
	              $(this).on("click", on_click_external);                // open these links in a new tab
	            }
	            else {
	              var strip_url = orig_url.replace('https', 'http');
	              strip_url = strip_url.replace('http://www.google.com', '');  // open these links as relative to my site
	              $(this).attr("href", strip_url);
	              var rExp = /\/[^\?/]*[\?/]/;
	              var link_match = rExp.exec(strip_url);
	              var link_type = (link_match) ? link_match[0] : '';
	              switch (link_type) {
	                case "/patents/":
	                  if (strip_url.search('/patents/related') >= 0) {
	                      $(this).on("click", on_click_new_related_url);           // when search page loads, 'related' url starts with /patents/related
	                    }
	                    else {
	                      $(this).on("click", on_click_new_patent_url);           // patent link on a search page
	                  }
	                  break;
	                case "/search?":
	                  $(this).on("click", on_click_new_search_url);               // search link on a search page or a patent page
	                  break;
	                case "/url?":
	                  if (strip_url.search('/www.google.com/patents/') >= 0) {
	                      $(this).on("click", on_click_new_patent_url);           // patent link on a prior art page; fetches the patent as a query after /url?
	                    }
	                    else {                                                    // this branch should never be called since the 'related' link on a search page
	                      $(this).on("click", on_click_new_related_url);          // is processed when the page loads; after mousedown, url changes, starts with /url?
	                  }
	                  break;
                        default:
                          // there are other types of links as well which are not visible on the page
	              }
	            }
	          };
	        });
	      }

	      function on_click_new_related_url(event) {
	        event.preventDefault();
	        event.stopPropagation();
	        var related_url = $(this).attr("href");
	        make_related_tab(related_url);
	      }

	      function on_click_new_patent_url(event) {
	        event.preventDefault();
	        event.stopPropagation();
	        var patent_url = $(this).attr("href")
	        make_patent_tab(patent_url);
	      }

	      function on_click_AlsoPublishedAs(event) {
	        var $gps_patent_contents = $(this.ownerDocument.body);
	        var grant_no = $(this).text();
	        var grant_url = $(this).attr("href");
                // if patent will open in separate browser tab, change the caption of the current application tab
	        if (!external_URLs.some( function(external_URL) {return grant_url.search(external_URL) >= 0 ? true : false;})) {  
	          $("ul#topTabs li.active > a").text(grant_no);
	        }
	        window.scrollTo(0,0);
	      }

	      function on_click_new_search_url(event) {
                event.preventDefault();
	        event.stopPropagation();
	        var search_url = $(this).attr("href");
	        var link_text = $(this).text();
	        var tab_title = 'Result';
	        var searchTerms = [{}, {"name" : "as_drrb_is", "value": "q"}, {"name": "as_ptypeorstatus", "value": "0"}]; // mimic google patent search form input fields
	        if (search_url.search('ininventor') >= 0) {
	          tab_title = link_text.lastIndexOf(' ') > 0 ? link_text.slice(link_text.lastIndexOf(' ') + 1) : link_text;
	          searchTerms[0] = {"name": "as_pinvent", "value": link_text};
	        }
	        else if (search_url.search('inassignee') >=0) {
	          tab_title = link_text.indexOf(' ') > 0 ? link_text.slice(0, link_text.indexOf(' ')) + '...' : link_text;
	          searchTerms[0] = {"name": "as_pasgnee", "value": link_text};
	        }
	        else {
	          console.log('Did not match search url in on_click_new_search_url');
	        }
	        make_search_result_tab(search_url, tab_title, searchTerms);
	      }

	      function process_patent_button_bar($iframe_contents) {
	        $("div.goog-inline-block.jfk-button", $iframe_contents).each(function() {
	          var button_text = $(this).text();
	          // Remove any language translation buttons, 'Discuss this patent'
	          if (button_text != 'Application' && button_text != 'Grant' && button_text != 'Find prior art'
                       && button_text != 'View PDF' && button_text != 'Download PDF') $(this).remove();
	        });
	        $("div[role='button'] img[src*='settings.png']", $iframe_contents).parent().parent().remove();  // gearbox settings button
	        var origLeftToolbarButtons = $("div#left-toolbar-buttons", $iframe_contents);
	        var origRightToolbar = $("div#right-toolbar-buttons div.viewport-chrome-toolbar", $iframe_contents);
	           // replace divs with themselves as the only way to remove anonymous mousedown and mouseup event listeners;
	           // clone('false') = do not clone event listeners;
	        origRightToolbar.replaceWith(origRightToolbar.clone('false'));
	        var newRightToolbar = $("div#right-toolbar-buttons div.viewport-chrome-toolbar", $iframe_contents);
	        newRightToolbar.on('mousedown', divMouseDown);
	        newRightToolbar.on('click', on_click_patent_div_button);
	      }

	      function on_click_patent_div_button(event) {
	        switch ($(event.target).text()) {
	          case "Find prior art":
	            var related_url = $("a#appbar-patents-prior-art-finder-link", $(event.target.ownerDocument)).attr("href");
	            make_related_tab(related_url);
	            break;
	          case "View PDF":
	            var external_url = $("a#appbar-read-patent-link", $(event.target.ownerDocument)).attr("href");
	            window.open(external_url);
	            break;
	          case "Download PDF":
	            var external_url = $("a#appbar-download-pdf-link", $(event.target.ownerDocument)).attr("href");
	            window.open(external_url);
	            break;
	          default:
	        }
	      }

	      function divMouseDown(event) {
	        event.preventDefault();
//	        event.stopPropagation();
	      }

	      function on_click_Application(event) {
	        var $gps_patent_contents = $(this.ownerDocument);
	        var thisIndex = event.data.index;
	        var application_url = $("a[data-label='Application']", $gps_patent_contents).eq(thisIndex).attr("href");
	        var link_match = rExp_patno_from_url.exec(application_url);
	        var application_no = link_match ? link_match[1] : '';
	        $("ul#topTabs li.active > a").text(application_no);     // note we are not changing the id of the tab
	        window.scrollTo(0,0);
	      }

	      function on_click_Grant(event) {
	        var $gps_patent_contents = $(this.ownerDocument);
	        var thisIndex = event.data.index;
	        var grant_url = $("a[data-label='Grant']", $gps_patent_contents).eq(thisIndex).attr("href");
	        var link_match = rExp_patno_from_url.exec(grant_url);
	        var grant_no = link_match ? link_match[1] : '';
	        $("ul#topTabs li.active > a").text(grant_no);     // note we are not changing the id of the tab
	        window.scrollTo(0,0);
	      }

	      function on_click_external(event) {
	        event.preventDefault();
	        event.stopPropagation();
	        var external_url = $(this).attr("href");
	        window.open(external_url);
	      }
	    });

	  </script>

	  <script id="search-term-popover-style" type="text/template">    <!-- will load in main window -->
	    <style>
	      .popover-title.jdwsearch {
	        background-color: #8BA2C5;
	        border: 1px solid #5F5F5F;
	        padding: 4px 7px;
	      }
	      .popover-content.jdwsearch {
	        line-height: 0px;
	        position: relative;
	        white-space: nowrap;
	        color: #49260B;
	        background-color: #F2F5FD;
	        border: 1px solid #A09F9F;
	        padding: 4px 3px;
	        border-radius: 4px;
	      }
	      .popover.jdwsearch {
	        max-width: none;
	        background-color: #8BA2C5;
	        border-color: #5F5F5F;
	        padding: 2px;
	      }
	      .popover.bottom .arrow.jdwsearch {
	        border-bottom-color: #5F5F5F;
	      }
	      .popover.bottom .arrow.jdwsearch:after {
	        border-bottom-color: #8BA2C5;
	      }
	      table#jdw14 {
	        font: 12px/11px Arial,sans-serif;
	        padding: 2px 3px;
	      }
	      td.tcell {
	        font-weight: bold;
	        text-align: right;
	        padding-right: 4px;
  	        overflow: hidden;
	        text-overflow: ellipsis;
	      }
	      td.vcell {
	        padding-right: 4px;
	        max-width: 136px;
  	        overflow: hidden;
	        text-overflow: ellipsis;
	      }
	    </style>

	    <style>
	      .popover.jdwpatent {
	        max-width: none;
	        background-color: #5F5F5F;
	        border-color: #5F5F5F;
	        padding: 2px;
	      }
	      .popover-title.jdwpatent {
	        padding: 4px 7px;
	        font: 14px/16px Arial,sans-serif;
	        font-weight: bold;
	        border-color: #5F5F5F;
	        border-width: 0px 0px 2px 0px;
	        background-color: #C8E7A1;
	      }
	      .popover-content.jdwpatent {
	        line-height: 0px;
	        padding: 4px 7px;
	        border-radius: 0px 0px 4px 4px;
	        background-color: #F4FFD8;
	      }
	      .popover.bottom .arrow.jdwpatent {
	        border-bottom-color: #5F5F5F;
	      }
	      .popover.bottom .arrow.jdwpatent:after {
	        border-bottom-color: #5F5F5F;
	      }
	      table#jdw20 {
	        font: 12px/15px Arial,sans-serif;
	      }
	      tbody#jdw21 {
	        vertical-align: top;
	        white-space: nowrap;
	      }
	      td.jdw22 {
	        padding: 2px;
	        font-weight: bold;
  	        overflow: hidden;
	        text-overflow: ellipsis;
	      }
	      td.jdw23 {
	        padding: 2px;
  	        overflow: hidden;
	        text-overflow: ellipsis;
	      }
	    </style>
	  </script>

	  <script id="patent-info-popover" type="text/template">
	    <table id="jdw20">
	      <tbody id="jdw21">
		<tr>
		  <td class="jdw22">Inventors:</td>
		  <td class="jdw23"><%= inventors %></td>
		</tr>
		<tr>
		  <td class="jdw22">Applicant:</td>
		  <td class="jdw23"><%= assignee %></td>
		</tr>
	      </tbody>
	    </table>
	  </script>

	  <script id="search-term-popover" type="text/template">            <!-- will load in main window -->
	      <table id="jdw14">
		<tbody>
		  <tr>
		    <td class="tcell"><%= t1 %></td>
		    <td class="vcell"><%= v1 %></td>
		    <td class="tcell"><%= t5 %></td>
		    <td class="vcell"><%= v5 %></td>
		    <td class="tcell"><%= t9 %></td>
		    <td class="vcell"><%= v9 %></td>
		    <td class="tcell"><%= t13 %></td>
		    <td class="vcell"><%= v13 %></td>
		  </tr>
		  <tr>
		    <td class="tcell"><%= t2 %></td>
		    <td class="vcell"><%= v2 %></td>
		    <td class="tcell"><%= t6 %></td>
		    <td class="vcell"><%= v6 %></td>
		    <td class="tcell"><%= t10 %></td>
		    <td class="vcell"><%= v10 %></td>
		    <td class="tcell"><%= t14 %></td>
		    <td class="vcell"><%= v14 %></td>
		  </tr>
		  <tr>
		    <td class="tcell"><%= t3 %></td>
		    <td class="vcell"><%= v3 %></td>
		    <td class="tcell"><%= t7 %></td>
		    <td class="vcell"><%= v7 %></td>
		    <td class="tcell"><%= t11 %></td>
		    <td class="vcell"><%= v11 %></td>
		    <td class="tcell"><%= t15 %></td>
		    <td class="vcell"><%= v15 %></td>
		  </tr>
		  <tr>
		    <td class="tcell"><%= t4 %></td>
		    <td class="vcell"><%= v4 %></td>
		    <td class="tcell"><%= t8 %></td>
		    <td class="vcell"><%= v8 %></td>
		    <td class="tcell"><%= t12 %></td>
		    <td class="vcell"><%= v12 %></td>
		    <td class="tcell"><%= t16 %></td>
		    <td class="vcell"><%= v16 %></td>
		  </tr>
		</tbody>
	      </table>
	  </script>

	  <script id="search-term-table-style" type="text/template">      <!-- will load in iframe -->
	    <style>
	      @keyframes nodeAnimate {
	        from {color:#222;}
	        to {color:#223;}
	      }
	      
	      @-webkit-keyframes nodeAnimate {             /* Safari and Chrome */
	        from {color:#222;}
	        to {color:#223;}
	      }

	      div.r, div.metadata {
	      animation-duration: 0.001s;
	      -o-animation-duration: 0.001s;
	      -ms-animation-duration: 0.001s;
	      -moz-animation-duration: 0.001s;
	      -webkit-animation-duration: 0.001s;
	      animation-name: nodeAnimate;
	      -o-animation-name: nodeAnimate;
	      -ms-animation-name: nodeAnimate;        
	      -moz-animation-name: nodeAnimate;
	      -webkit-animation-name: nodeAnimate;
	      }
	    </style>

	    <style>
	      div#jdwTop {
	        min-height: 71px;
	        background: #f1f1f1;
	      }
	      div#jdw1 {
	        color: #49260B;
	        background: #FDFAAF;
	        border: 1px solid #A09F9F;
		border-radius: 10px;
		position: absolute;
		margin: 3px 0px;
	        left: 126px;
	        white-space: nowrap;
	      }
	      div#jdw2 {
	        position: relative;
		width: 100px;
		display: inline-block;
		padding: 2px 0px 0px 2px;
		font: 14px/12px Arial,sans-serif;
	      }
	      div#jdw3 {
		position: relative;
		padding-top: 2px;
		margin-left: 5px;
		display: inline-block;
	      }
	      table#jdw4 {
	        font: 12px/11px Arial,sans-serif;
	      }
	      td.tcell {
	        font-weight: bold;
	        text-align: right;
	        padding-right: 4px;
	      }
	      td.vcell {
	        padding-right: 4px;
	        max-width: 136px;
  	        overflow: hidden;
	        text-overflow: ellipsis;
	      }
	    </style>
	  </script>

	  <!-- replacement header for google search and patent pages -->
	  <script id="page-header" type="text/template">
	    <div id="jdwTop">
	      <div id="gbql" class="gbem" style="position: absolute; margin-top: 14px; margin-left: 16px;">  <!-- get google logo with id=gbq1 -->
	      </div>
	    </div>
	  </script>

	  <script id="search-term-table" type="text/template">                <!-- will load in iframe -->
	    <div id="jdw1" class="gbt">
	      <div id="jdw2" class="gbt">
		<table>
		  <tbody>
		    <tr>
		      <td><b>Search terms:</b></td>
		    </tr>
		  </tbody>
		</table>
	      </div>
	      <div id="jdw3" class="gbt">
		<table id="jdw4">
		  <tbody>
		    <tr>
		      <td class="tcell"><%= t1 %></td>
		      <td class="vcell"><%= v1 %></td>
		      <td class="tcell"><%= t5 %></td>
		      <td class="vcell"><%= v5 %></td>
		      <td class="tcell"><%= t9 %></td>
		      <td class="vcell"><%= v9 %></td>
		      <td class="tcell"><%= t13 %></td>
		      <td class="vcell"><%= v13 %></td>
		    </tr>
		    <tr>
		      <td class="tcell"><%= t2 %></td>
		      <td class="vcell"><%= v2 %></td>
		      <td class="tcell"><%= t6 %></td>
		      <td class="vcell"><%= v6 %></td>
		      <td class="tcell"><%= t10 %></td>
		      <td class="vcell"><%= v10 %></td>
		      <td class="tcell"><%= t14 %></td>
		      <td class="vcell"><%= v14 %></td>
		    </tr>
		    <tr>
		      <td class="tcell"><%= t3 %></td>
		      <td class="vcell"><%= v3 %></td>
		      <td class="tcell"><%= t7 %></td>
		      <td class="vcell"><%= v7 %></td>
		      <td class="tcell"><%= t11 %></td>
		      <td class="vcell"><%= v11 %></td>
		      <td class="tcell"><%= t15 %></td>
		      <td class="vcell"><%= v15 %></td>
		    </tr>
		    <tr>
		      <td class="tcell"><%= t4 %></td>
		      <td class="vcell"><%= v4 %></td>
		      <td class="tcell"><%= t8 %></td>
		      <td class="vcell"><%= v8 %></td>
		      <td class="tcell"><%= t12 %></td>
		      <td class="vcell"><%= v12 %></td>
		      <td class="tcell"><%= t16 %></td>
		      <td class="vcell"><%= v16 %></td>
		    </tr>
		  </tbody>
		</table>
	      </div>
	    </div>
	  </script>

	  <!-- scripts for inserting a Bootstrap tab and tab content-->
	  <script id="bs_nav-tab" type="text/template">
            <li><a id="<%= tab_id %>" href="#<%= tab_content_id %>" data-toggle="tab"><%= tab_name %></a></li>
	  </script>

	  <script id="bs_tab-pane" type="text/template">
	    <div class="tab-pane" id="<%= tab_content_id %>">
	      <iframe class="gps_result" id="<%= iframe_id %>" width="<%= iframe_width %>" height="<%= iframe_height %>" allowfullscreen="true" sandbox="allow-same-origin allow-top-navigation allow-forms allow-scripts">
	      </iframe>
	    </div>
	  </script>
	    

<!--    <script type="text/javascript" charset="utf-8">
      $.get("http://www.google.com/advanced_patent_search",
            function(data) {
              alert('Got: ' + data);
            }
      );
    </script>   -->
    <script type="text/javascript" charset="utf-8">
      var w = 960, h = 500;

      var labelDistance = 0;

      var vis = d3.select("#Map").append("svg:svg").attr("width", w).attr("height", h);

      var nodes = [];
      var labelAnchors = [];
      var labelAnchorLinks = [];
      var links = [];

      for(var i = 0; i < 30; i++) {
	var node = {
	  x_fix : 100 + 200*Math.floor(4*Math.random()),
	  label : "node " + i
	};
	nodes.push(node);
	labelAnchors.push({
	  node : node
	});
	labelAnchors.push({
	  node : node
	});
      };

      for(var i = 0; i < nodes.length; i++) {
        for(var j = 0; j < i; j++) {
          if(Math.random() > .95) links.push({source : i, target : j, weight : Math.random()});
	}
	labelAnchorLinks.push({source : i * 2, target : i * 2 + 1, weight : 1});
      };

      var force = d3.layout.force().size([w, h]).nodes(nodes).links(links).gravity(1).linkDistance(50).charge(-20000).linkStrength(function(x) {
                         return x.weight * .01});
      force.start();

      var force2 = d3.layout.force().nodes(labelAnchors).links(labelAnchorLinks).gravity(0).linkDistance(0).linkStrength(8).charge(-100).size([w, h]);
      force2.start();

      var link = vis.selectAll("line.link").data(links).enter().append("svg:line").attr("class", "link").style("stroke", "#CCC");

      var node = vis.selectAll("g.node").data(force.nodes()).enter().append("svg:g").attr("class", "node");
      node.append("svg:circle").attr("r", 5).style("fill", "#555").style("stroke", "#FFF").style("stroke-width", 3);
      node.call(force.drag);


      var anchorLink = vis.selectAll("line.anchorLink").data(labelAnchorLinks)    //.enter().append("svg:line").attr("class", "anchorLink").style("stroke", "#999");

      var anchorNode = vis.selectAll("g.anchorNode").data(force2.nodes()).enter().append("svg:g").attr("class", "anchorNode");
      anchorNode.append("svg:circle").attr("r", 0).style("fill", "#FFF");
      anchorNode.append("svg:text").text(function(d, i) {return i % 2 == 0 ? "" : d.node.label})
                                   .style("fill", "#555").style("font-family", "Arial").style("font-size", 12);

      var updateLink = function() {
        this.attr("x1", function(d) {return d.source.x;})
                  .attr("y1", function(d) {return d.source.y;})
                  .attr("x2", function(d) {return d.target.x;})
		  .attr("y2", function(d) {return d.target.y;});
      }

      var updateNode = function() {
        this.attr("transform", function(d) {return "translate(" + d.x + "," + d.y + ")";});
      }

      force.on("tick", function(e) {
        force2.start();

//        node.call(updateNode);
//        console.log("e.alpha: " + e.alpha);
	node.each(function(d, i) {
          d.x = d.px + 0.1*(d.x - d.px);
          d.y = d.py + 0.1*(d.y - d.py);
	  d.x = d.x + ((Math.log(10*0.099) - Math.log(10*e.alpha))/(Math.log(10*0.099) - Math.log(10*0.005)))*(d.x_fix - d.x);
                                                        // default value of alpha starts at 0.1 and decays exponentially to 0.005
        });
        node.attr("transform", function(d) {return "translate(" + d.x + "," + d.y + ")";});
 
        anchorNode.each(function(d, i) {
                 	    if(i % 2 == 0) {
		              d.x = d.node.x;         // .node is the 'node' property set in lines 29, 32, i.e. the 'force' node associated with this 'force2' label node
			      d.y = d.node.y;
			    } else {
			      var b = this.childNodes[1].getBBox();
                              var diffX = d.x - d.node.x;
			      var diffY = d.y - d.node.y;
                              var dist = Math.sqrt(diffX * diffX + diffY * diffY);

			      var shiftX = b.width * (diffX - dist) / (dist * 2);
			      shiftX = Math.max(-b.width, Math.min(0, shiftX));
			      var shiftY = 5;
			      this.childNodes[1].setAttribute("transform", "translate(" + shiftX + "," + shiftY + ")");
			    }
			});


	anchorNode.call(updateNode);

	link.call(updateLink);
	anchorLink.call(updateLink);
      });
    </script>
  </body>
</html>
