<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Force based label placement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/underscore.js"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<!--    <style type="text/css">
      iframe {
        width: 900, height: 600;
      }
    </style>
-->
  </head>

  <body>
    <ul class="nav nav-tabs" id="topTabs">
      <li class="active"><a href="#Map" data-toggle="tab">Map</a></li>
      <li><a href="#Search" data-toggle="tab">Search</a></li>
      <li><a href="#View" data-toggle="tab">View</a></li>
    </ul>

    <div class="tab-content" id="topTabsContent">
      <div class="tab-pane active" id="Map">
      </div>
      <div class="tab-pane" id="Search">
        <iframe id="gps" src="/advanced_patent_search" width="1050" height="700" scrolling="no" allowfullscreen="true" sandbox="allow-same-origin allow-top-navigation allow-forms allow-scripts">
	</iframe>
      </div>
      <div class="tab-pane" id="View">
	<iframe id="gps_result_0" src="about:blank" width="1050" height="700" allowfullscreen="true" sandbox="allow-same-origin allow-top-navigation allow-forms allow-scripts">
	</iframe>
      </div>
    </div>

	  <script type="text/javascript">
	    $("iframe#gps").load(function() {
	      var nSearchResultTabs = 0;
	      var $gps_contents = $(this).contents();
	      $("a[href='http://www.google.com/'] > img", $gps_contents).unwrap();    // delete link associated with the Google logo
	      $("a[href='/about.html']", $gps_contents).remove();                     // delete the 'About Google' link
	      $("center:contains('\u00A9')", $gps_contents).remove();                 // delete the Google copyright notice
	      $("form[action='/patents']", $gps_contents).on("submit", on_submit_form);  // intercept the form submit request...

	      function on_submit_form(event) {
                event.preventDefault();
	        var url = $(this).attr('action');
	        var formData = $(this).serialize();                                   // get the form query data
//	          $.get(url, formData, function(resp) {                               // do a GET request to do the search
	        makeBootstrapSearchResultTab(url + '?' + formData);
	      };

	      function makeBootstrapSearchResultTab(iframe_src) {
	        nSearchResultTabs += 1;
	        var tab_name = "Results " + nSearchResultTabs;
	        var tab_content_id = "result_" + nSearchResultTabs;
	        var iframe_id = "gps_result_" + nSearchResultTabs;
	        var navTabHTML = _.template( $("script#bs_nav-tab").html(), {tab_content_id: tab_content_id, tab_name: tab_name});
	        var tabContentHTML = _.template( $("script#bs_tab-pane").html(), {tab_content_id: tab_content_id, iframe_id: iframe_id}); //, iframe_src: iframe_src});
	        $("div#topTabsContent").append(tabContentHTML);
	        $("ul#topTabs").append(navTabHTML);
	        $("iframe#" + iframe_id).load(on_result_load); //function () {console.log("Triggered");});
	        $("iframe#" + iframe_id).attr("src", iframe_src);
	      }

	      function on_result_load() {
	        console.log("Triggered");
	        var $gps_result_contents = $(this).contents();
	        $("div#pocs", $gps_result_contents).remove();
	        $("div#gbz", $gps_result_contents).remove();
	        $("div#gbx3", $gps_result_contents).remove();
	        $("div#gbzw", $gps_result_contents).remove();
	        $("a[title='Go to Google Home'] > table", $gps_result_contents).unwrap();
	        $("form#gbqf", $gps_result_contents).remove();
	        $("div#gbvg", $gps_result_contents).remove();
	        $("div#top_nav", $gps_result_contents).remove();
	        $("div#topabar", $gps_result_contents).remove();
	        $("div.osl", $gps_result_contents).remove();
	        $("div#foot", $gps_result_contents).remove();
	      }
	    });

	       

	  </script>

	  <script id="bs_nav-tab" type="text/template">
            <li><a href="#<%= tab_content_id %>" data-toggle="tab"><%= tab_name %></a></li>
	  </script>

	  <script id="bs_tab-pane" type="text/template">
	    <div class="tab-pane" id="<%= tab_content_id %>">
	      <iframe class="gps_result" id="<%= iframe_id %>" width="1050" height="700" allowfullscreen="true" sandbox="allow-same-origin allow-top-navigation allow-forms allow-scripts">
	      </iframe>
	    </div>
	  </script>
	    

<!--    <script type="text/javascript" charset="utf-8">
      $.get("http://www.google.com/advanced_patent_search",
            function(data) {
              alert('Got: ' + data);
            }
      );
    </script>   -->
    <script type="text/javascript" charset="utf-8">
      var w = 960, h = 500;

      var labelDistance = 0;

      var vis = d3.select("#Map").append("svg:svg").attr("width", w).attr("height", h);

      var nodes = [];
      var labelAnchors = [];
      var labelAnchorLinks = [];
      var links = [];

      for(var i = 0; i < 30; i++) {
	var node = {
	  x_fix : 100 + 200*Math.floor(4*Math.random()),
	  label : "node " + i
	};
	nodes.push(node);
	labelAnchors.push({
	  node : node
	});
	labelAnchors.push({
	  node : node
	});
      };

      for(var i = 0; i < nodes.length; i++) {
        for(var j = 0; j < i; j++) {
          if(Math.random() > .95) links.push({source : i, target : j, weight : Math.random()});
	}
	labelAnchorLinks.push({source : i * 2, target : i * 2 + 1, weight : 1});
      };

      var force = d3.layout.force().size([w, h]).nodes(nodes).links(links).gravity(1).linkDistance(50).charge(-20000).linkStrength(function(x) {
                         return x.weight * .01});
      force.start();

      var force2 = d3.layout.force().nodes(labelAnchors).links(labelAnchorLinks).gravity(0).linkDistance(0).linkStrength(8).charge(-100).size([w, h]);
      force2.start();

      var link = vis.selectAll("line.link").data(links).enter().append("svg:line").attr("class", "link").style("stroke", "#CCC");

      var node = vis.selectAll("g.node").data(force.nodes()).enter().append("svg:g").attr("class", "node");
      node.append("svg:circle").attr("r", 5).style("fill", "#555").style("stroke", "#FFF").style("stroke-width", 3);
      node.call(force.drag);


      var anchorLink = vis.selectAll("line.anchorLink").data(labelAnchorLinks)    //.enter().append("svg:line").attr("class", "anchorLink").style("stroke", "#999");

      var anchorNode = vis.selectAll("g.anchorNode").data(force2.nodes()).enter().append("svg:g").attr("class", "anchorNode");
      anchorNode.append("svg:circle").attr("r", 0).style("fill", "#FFF");
      anchorNode.append("svg:text").text(function(d, i) {return i % 2 == 0 ? "" : d.node.label})
                                   .style("fill", "#555").style("font-family", "Arial").style("font-size", 12);

      var updateLink = function() {
        this.attr("x1", function(d) {return d.source.x;})
                  .attr("y1", function(d) {return d.source.y;})
                  .attr("x2", function(d) {return d.target.x;})
		  .attr("y2", function(d) {return d.target.y;});
      }

      var updateNode = function() {
        this.attr("transform", function(d) {return "translate(" + d.x + "," + d.y + ")";});
      }

      force.on("tick", function(e) {
        force2.start();

//        node.call(updateNode);
//        console.log("e.alpha: " + e.alpha);
	node.each(function(d, i) {
          d.x = d.px + 0.1*(d.x - d.px);
          d.y = d.py + 0.1*(d.y - d.py);
	  d.x = d.x + ((Math.log(10*0.099) - Math.log(10*e.alpha))/(Math.log(10*0.099) - Math.log(10*0.005)))*(d.x_fix - d.x);
                                                        // default value of alpha starts at 0.1 and decays exponentially to 0.005
        });
        node.attr("transform", function(d) {return "translate(" + d.x + "," + d.y + ")";});
 
        anchorNode.each(function(d, i) {
                 	    if(i % 2 == 0) {
		              d.x = d.node.x;         // .node is the 'node' property set in lines 29, 32, i.e. the 'force' node associated with this 'force2' label node
			      d.y = d.node.y;
			    } else {
			      var b = this.childNodes[1].getBBox();
                              var diffX = d.x - d.node.x;
			      var diffY = d.y - d.node.y;
                              var dist = Math.sqrt(diffX * diffX + diffY * diffY);

			      var shiftX = b.width * (diffX - dist) / (dist * 2);
			      shiftX = Math.max(-b.width, Math.min(0, shiftX));
			      var shiftY = 5;
			      this.childNodes[1].setAttribute("transform", "translate(" + shiftX + "," + shiftY + ")");
			    }
			});


	anchorNode.call(updateNode);

	link.call(updateLink);
	anchorLink.call(updateLink);
      });
    </script>
  </body>
</html>
